body {
	background-color: #ED96C8;
}
.donut-logo {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}

nav {
	background-color: #AE76F8;
}

.navbar-brand {
	color: #F8E04C;
}

.navbar-brand:hover {
	text-decoration: none;
}

.container {
	display: flex;
}

.container ul {
	list-style-type: none;
}

.container li {
	margin: 10px;
	display: flex;
	flex-grow: 1;
	height: 250px;
    width: 250px;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	background-size: contain;
}

.container li:hover {
	border: 4px solid #AE76F8;
}

.container p {
	margin: 0 auto;
	padding-top: 10px;
}

.inperson-impersonator {
	background-image: url(images/Inpersonimpersonator.JPG);
}

.extroverter {
	background-image: url(images/extroverter.JPG);
}

.playback-ring {
	background-image: url(images/playbackring.JPG);
}

.glasses {
	background-image: url(images/glasses.JPG);
}

.time-zone-equalizer {
	background-image: url(images/timezone.JPG);
}

.translator {
	background-image: url(images/translator.jpg);
}

footer {
	border-top: 2px solid #AE76F8;
	background-color: #B0B0B0;
	position: absolute;
    bottom: 0;
    width: 100%;
	height: 60px;
	line-height: 39px;
}